* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;

}

.container {
    max-width: 1600px;
    width: 100%;
    /* margin: 0 auto;*/
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-navbar {
    margin: 16px 0 16px 120px;
}

.menu li {

    gap: 32px;
    list-style: none;
    display: flex;



}

.menu a {
    text-decoration: none;
    font-size: 16px;
    color: #000000;
    font-weight: 300;
    max-width: 1600px;
    padding-top: 34px;
    padding-bottom: 34px;
    /* margin:34px 605px 34px 603px ;*/


}

.btn {
    font-size: 16px;
    color: #FFFFFF;
    background-color: #30B868;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-right: 120px;
    margin-left: 346px;
    padding: 12px 16px;
    cursor: pointer;
    border: none;

}

.hero-img {
    background: url("../assets/hero-bg.png");
    width: 100%;
    background-position: center;
    height: 647px;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner {
    width: 1360px;
    height: 379px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0 auto;


}


.banner h6 {
    color: #30B868;
    background-color: #FFFFFF;
    gap: 6px;
    border-radius: 1000px;
    font-size: 16px;
    font-weight: 500px;
    margin-top: 190px;
    padding: 8px 12px 8px 12px;

}

.banner h1 {
    font-size: 72px;
    font-weight: 700;
    font-style: bold;
    color: #FFFFFF;


}

.banner span {
    font-size: 72px;
    font-weight: 700;
    font-style: bold;
    color: #30B868;
    margin-bottom: 16px;


}

.banner p {
    font-size: 18px;
    color: #FFFFFF;
    margin-top: 16px;


}

.btn-1 {
    font-size: 16px;
    font-weight: 600px;
    color: #FFFFFF;
    background-color: #30B868;
    gap: 10px;

    padding: 12px 46px 16px 16px;
    margin-right: 16px;
    margin-top: 32px;
    border: none;
    cursor: pointer;

}

.btn-2 {
    font-size: 16px;
    font-weight: 600px;
    color: #FFFFFF;
    gap: 10px;
    padding: 18px 16px 16px 46px;
    background: none;
    border-color: #FFFFFF;
    cursor: pointer;


}

.notes {
    width: 1360px;
    height: 117px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0 auto;

}

.notes h3 {
    font-size: 48px;
    font-weight: bold;
    color: #000000;
    margin-top: 110px;
}

.notes p {
    font-size: 16px;
    color: #627382;
    margin-top: 16px;
    margin-bottom: 40px;
}

.card {
    width: 1350px;
    height: 300px;
    display: flex;

    /*justify-content: center;
 align-items: center;*/

    gap: 24px;
    margin: 70px 120px 44px 120px;



}

.card-box {

    /*border: 1px solid red;*/
    padding: 60px;
    padding-left: 24px;
    padding-right: 24px;
    box-shadow: 0 -6px 50px 0 #beb8b826;
    /*box-shadow: 0 0 30px rgba(0,0,0,0.12);*/
}

.image {
    width: 60px;
    height: 60px;
    margin: 0 auto;
    /* padding-left: 80px;
    padding-right: 80px;*/
    background-color: red;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.card-box h5 {
    font-size: 24px;
    font-weight: 600;
    color: #000000;
    margin: 16px;
}

.card-box p {
    font-size: 16px;
    color: #627382;
}

.brain-container {
    /* width: 1360;
    height: 600px;*/
    gap: 1px;

    display: flex;
    /*align-items: center;
  justify-content: center;*/


}

.image-1 {
    margin-left: 120px;
    margin-top: 120px;
    width: 600px;
    height: 600px;
}

.bullet-point {
    list-style: none;
}

.para {
    margin: 221.5px;
    margin-right: 120px;
    width: 700px;
    height: 397px;

}

.para h6 {
    font-size: 16px;
    font-weight: 500;
    color: #30B868;
    margin-bottom: 16px;
}

.para h2 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;

}

.para p {
    font-size: 16px;
    color: #627382;
    margin-bottom: 40px
}

.bullet-point {
    font-size: 16px;
    font-weight: bold;
    padding: 0;
    display: flex;

    flex-direction: column;
    gap: 16px;
}

.early-container {
    width: 1360px;
    height: 385px;
    margin-left: 120px;
    margin-right: 120px;
    padding: 80px 40px;
    background-color: #F7F6F2;
    text-align: center;
    justify-content: center;
}

.early h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 16px;
}

.early p {
    font-size: 16px;
    color: #627382;
    margin-bottom: 16px;
}

.para-2 p {
    font-size: 16px;
    color: #627382;
    margin-top: 16px;
}

.footer-container {
    width: 100%;
    height: 348px;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    background-color: #001931;



}

.footer-img {
    margin-top: 120px;
    margin-left: 120px;

}

.para-3 {
    font-size: 16px;
    color: #FFFFFF;
    padding-right: 120px;
}

.copyright {
    color: #FFFFFF;
    padding-bottom: 30px;

}