*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-inter> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}
.container{
    max-width: 1600px;
    width: 100%;
   /* margin: 0 auto;*/
}
.navbar{ 
    display: flex;
    justify-content: space-between ;
    align-items: center;
}
.logo-navbar{
   margin: 16px 0 16px 120px; 
}
.menu li{ 
    
    gap: 32px;
    list-style: none;
    display: flex;



}
.menu a{
    text-decoration: none;
    font-size: 16px;
    color: #000000;
    font-weight: 300;
    max-width: 1600px;
   padding-top: 34px;
   padding-bottom: 34px;
   /* margin:34px 605px 34px 603px ;*/

    
}
.btn{ 
    font-size: 16px;
    color: #FFFFFF;
    background-color: #30B868;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-right: 120px;
    margin-left:346px;
    padding:12px 16px;
    cursor: pointer;
    border: none;

}


